# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd

# ========================
# Build / Packaging
# ========================
build/
dist/
*.egg-info/
*.egg

# ========================
# Virtual Environments
# ========================
.venv/
venv/

# ========================
# IDE / Editor
# ========================
.vscode/
.idea/
*.swp
*.swo

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db